<h1>THE DATABASE</h1>
<p>Welcome to the database. Feel free to add people or dogs.</p>
<p>
<%= link_to 'Person Index', people_path %>
<%= link_to 'Dog Index', dogs_path %>
</p>
<p>
<%= link_to 'Add Person', new_person_path %>
<%= link_to 'Add Dog', new_dog_path %>
</p>
